body {
	background-color:red;
}

.frame{
	width:1200px;
	margin:0px auto;
	text-align:center;
}

.box{
	width:260px;
	margin:10px;
	display:inline-block;
	vertical-align:top;
	background-color:#ffcccc;
}
.title{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}

.menu-desktop{
	display:block;
}

.menu-mobile{
	display:none;
}

/* CSS 3 Media Query */
/* 500px~1200px */
/*上下套用順序固定，先套大的*/
@media (max-width:1200px){
	.frame{
		width:100%;
	}
	
	.box{
		width:45%;
	}
	
}


@media (max-width:500px){
	/* 螢幕尺寸小於 500px的時候,套用這個區塊的設定 */
.frame{
	width:100%
}

.box{
	width:90%;
}
.title{
	font-size:20px;
}
.menu-desktop{
	display:none
}

.menu-mobile{
	display:block;
}

}